/* Copyright(c) David Rueter All rights reserved. This program is made available under the
terms of the AGPLv3 license. See the LICENSE file in the project root for more information. */
.segment-container {
	display: flex;
	//align-items: center;
	//justify-content: center;
  }
  
  .segment-item {
	cursor: pointer;
	padding: 0 10px;
	&.selected {
	  color: var(--ion-color-primary);
	}
  }
  
  .divider {
	color: grey;
  }