<!-- Copyright(c) David Rueter All rights reserved. This program is made available under the
terms of the AGPLv3 license. See the LICENSE file in the project root for more information. -->
<ion-accordion-group>
  <ion-accordion *ngFor="let item of items" value="{{ item.id }}" >
    <ion-item slot="header" color="primary-contrast" (click)="clickEvent($event);">
      <ion-toggle color="secondary" justify="start" [(ngModel)]="item.enabled" labelPlacement="end"><ion-text color="primary" (click)="onToggleClicked($event)"><h3>{{ item.name }}</h3></ion-text></ion-toggle>
    </ion-item>

    <div class="ion-padding" slot="content">
      <ion-text color="primary"><i>{{ item.sciname }}</i></ion-text><br><br> 
      <ion-img src="{{item.imgsrc}}"></ion-img>
      <br><br>
      <ion-text color="primary">{{ item.description }}</ion-text></div>
  </ion-accordion>
</ion-accordion-group>  