/* Copyright(c) David Rueter All rights reserved. This program is made available under the
terms of the AGPLv3 license. See the LICENSE file in the project root for more information. */

ion-segment-button::content{
  --color: #888;
  --color-checked: #245633;
}

ion-segment-button {
    --padding-start: 0px;
   --margin-start: 0px;
}

ion-segment {
  --background: transparent;
}

/*
ion-segment-button::part(indicator-background) {
  background: transparent;
}


ion-segment-button {
  --border-style: none;
}
.segment-button-checked {
  color: #f00;
  --background: #f00;
}*/

//ion-radio::part(label){
  /*
  --color: red;
  color: var(--ion-color-primary);*/
 // color: red;

//}