/* Copyright(c) David Rueter All rights reserved. This program is made available under the
terms of the AGPLv3 license. See the LICENSE file in the project root for more information. */

section {
	margin-left: 2rem;
	padding-top: 2rem;
	margin-right: 250px;
  }
  
ion-button	{
	--padding-start: 0px;
}