/* Copyright(c) David Rueter All rights reserved. This program is made available under the
terms of the AGPLv3 license. See the LICENSE file in the project root for more information. */

section {
	margin-left: 2rem;
	padding-top: 2rem;
	margin-right: 250px;
  }

  /* Target iPhones specifically (including iPhone X and above with different screen sizes) */
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
    /* Change the margin-right of .section */
    section {
        margin-right: 2em;
    }
}
ion-button	{
	--padding-start: 0px;
}