

#container {
  text-align: left;
  //font-size: 2em;
  //position: absolute;
  //left: 0;
  //right: 0;
  //top: 50%;
  //transform: translateY(-50%);
}
/*
#container strong {
  font-size: 20px;
  line-height: 26px;
}*/


.floating-menu {
  position:fixed;
  border:none;
  width:200px;
  z-index:100;
  top:0px;
  right:10px;
  background-color: #fffa;
  padding: 1rem;
}

.radio-wrapper {
  --color:primary;
}

.radio-checked {
  color:#245633; // fixme use variable
}

.recipe-text {
  font-size: .9rem;
  white-space: pre-wrap; /* Ensures the text wraps if needed */
  word-break: break-word; /* Prevents overflow by breaking long words */
  font-family: serif;
}

ion-datetime {
  --background: #fff;
  --background-rgb: 255,255,255;
}

ion-select {
  display: inline-block;  /* Makes the select element inline */
  width: auto;            /* Adjust width as needed */
  //vertical-align: middle; /* Aligns vertically if in line with other elements */
}

video {
  margin-left:  0px;
  display: block;
  width: calc(100vw - 6rem);
}
.email-container {
  display: flex;
  align-items: center; /* Aligns the input and button vertically */
}

.email-container ion-button {
  margin-left: 1rem; /* Adds some space between the input and the button */
}