<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<div class="floating-menu">
  <ion-menu-button></ion-menu-button>
  <!--<div *ngIf="visibleSectionIndex >= 1">--> <!-- FIXME is this working? Probably broken with new state manager-->
  <ion-text color="primary">SOURCES</ion-text>
  
  <ion-text color="primary" *ngFor="let item of foodForests">
    <div *ngIf="item.enabled">
      {{ item.name }}
    </div>
  </ion-text>  
  <!--</div>-->
</div>

<ion-content class="ion-padding" [fullscreen]="true" id="container">
  <app-base-section [sectionID]="'start'" (nextSectionEvent)="scrollToSection($event)">
    <ion-text section-body color="primary">Hi.<br>
And welcome.<br>
I will help you create recipes that combine seasonal food forest ingredients with alternative protein products.<br>
<br>
Let’s get started.
    </ion-text>
  </app-base-section>
  
  <app-base-section [sectionID]="'select-food-forest'" (nextSectionEvent)="scrollToSection($event)">
    <ion-text section-body color="primary">
      First, let’s select food forest ingredients near you!<br><br>
      Choose where you will get your ingredients from:<br>      
      <item-list [items]="foodForests" (changeDetected)="handleFFChange($event)"></item-list>
    </ion-text>
  </app-base-section>
 
    <app-base-section [sectionID]="'select-date'" (nextSectionEvent)="scrollToSection($event)">
      <div section-body>
      <ion-text  color="primary">
      Now, to find out which ingredients are available, let me know what date you would like to cook:<br>

    </ion-text>
    <ion-datetime [isDateEnabled]="isValidDate" yearValues="2024,2025" presentation="date" [preferWheel]="true"></ion-datetime>
    </div>
    </app-base-section>
    
    
    <app-base-section [sectionID]="'select-ingredients'" (nextSectionEvent)="scrollToSection($event)">
      <div section-body >
      <ion-text color="primary">
      Got it. Here is a list of food forest ingredients available that week.<br><br>
      Explore the ingredients and edit your list below.
    </ion-text>
    
      <image-accordion [items]="ingredients" (changeDetected)="handleIngredientsChange($event)"></image-accordion>
    </div>
    </app-base-section>
    
    <app-base-section [sectionID]="'customize-or-surprise'" (nextSectionEvent)="scrollToSection($event)">
      <app-choice-section [sectionID]="'customize-or-surprise'">
      <ion-text color="primary">
      Great!<br><br>
      Do you want to customise and shape your recipe further, or do you want to skip that step to generate a recipe now and be surprised?
    </ion-text>
    </app-choice-section>
    </app-base-section>
    
    <!--<section *ngIf="customizeOrSurprise === 'customize'" #section class="page">-->
      <app-base-section [sectionID]="'eat-or-preserve'" (nextSectionEvent)="scrollToSection($event)">
        <app-choice-section [sectionID]="'eat-or-preserve'">
        <ion-text section-body color="primary">
          Wonderful!<br>
          Now let’s shape your recipe.<br>
          First, do you want to eat your recipe right away or preserve something for the future?<br>
        </ion-text>
      </app-choice-section>
      </app-base-section>
    
    <!--<section *ngIf="customizeOrSurprise === 'customize' && eatOrPreserve === 'eat'" #section class="page">-->
      <app-base-section [sectionID]="'specify-protein'" (nextSectionEvent)="scrollToSection($event)">
        <app-choice-section [sectionID]="'specify-protein'">
      <ion-text section-body color="primary">
        Fantastic!
        Before you customise your recipe, do you want to select a specific alternative protein product?
       </ion-text>
      </app-choice-section>
      </app-base-section>
      
    
    <!--<section *ngIf="customizeOrSurprise === 'customize' && eatOrPreserve === 'eat' && protein === 'noThanks'" #section class="page">-->
      <app-base-section [sectionID]="'no-specific-protein'" (nextSectionEvent)="scrollToSection($event)">
      <ion-text section-body color="primary">
        No problem.
        Using the food forest ingredients, let’s generate a delicious recipe for you to cook. Help fill out the following text to create your recipe:
    </ion-text>
  </app-base-section>
    
    <!--<section *ngIf="customizeOrSurprise === 'customize' && eatOrPreserve === 'eat' && protein === 'selectProtein'" #section class="page">-->
      <app-base-section (nextSectionEvent)="scrollToSection($event)">
      <ion-text section-body color="primary">
        Splendid.
        Using the food forest ingredients plus an alternative protein of your choice, let’s generate a delicious recipe for you to cook. Help fill out the following text to create your recipe:

      </ion-text>    
      </app-base-section>
    
    
    <!--<section *ngIf="customizeOrSurprise === 'customize' && eatOrPreserve == 'preserve'" #section class="page">-->
      <app-base-section (nextSectionEvent)="scrollToSection($event)">
      <ion-text section-body color="primary">
        Perfect.
        Using the food forest ingredients, let’s generate a delicious recipe that can be eaten later. Help fill out the following text to create your recipe:
    </ion-text>
      </app-base-section>
    
    <!-- Surprise me path-->
    <app-base-section [sectionID]="'surprise'" (nextSectionEvent)="scrollToSection($event)">
    <!--<section *ngIf="customizeOrSurprise === 'surprise'" #section class="page">-->
      <ion-text section-body color="primary">
        Fun!
        Using your food forest ingredients list, let’s generate a delicious recipe for you to cook.
    </ion-text>

    </app-base-section>
    
    <app-base-section [sectionID]="'disclaimer'" (nextSectionEvent)="scrollToSection($event)">
      <app-choice-section [sectionID]="'disclaimer'">
      <ion-text section-body color="primary">       
        DISCLAIMER
        This is a thinking and tinkering tool. The following recipe is a lucid hallucination generated by AI and cannot be held accountable for bad taste, being nutritionally deficient, or even poisonous. It is your responsibility to create a safe and delicious recipe in the kitchen.
        <br><br>Do you want to proceed?<br>
     </ion-text>
     </app-choice-section>
     
    </app-base-section>
    
    <app-base-section [showNextButton]="false" [sectionID]="'generate'" (nextSectionEvent)="scrollToSection($event)">
      <ion-button section-body color="primary" (click)="generateRecipe()"><ion-text>Generate</ion-text></ion-button>
    </app-base-section>
    
    <app-base-section [sectionID]="'recipe'">
      <div section-body>
        <ion-text color="primary" class="recipe-text">
         <app-data-fetcher class="recipe" [requestObject]="recipePrompt" [styles]="{'font-size': '24px', 'white-space':'normal'}"></app-data-fetcher>
      </ion-text>
    </div>
    </app-base-section>
    
    
</ion-content>
</div>