

#container {
  text-align: left;
  font-size: 2em;
  //position: absolute;
  //left: 0;
  //right: 0;
  //top: 50%;
  //transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 3em;
  line-height: 22px;
}

#container a {
  text-decoration: none;
}

.floating-menu {
  position:fixed;
  border:none;
  width:200px;
  z-index:100;
  top:15px;
  right:10px;
}

.radio-wrapper {
  --color:primary;
}

.radio-checked {
  color:#245633; // fixme use variable
}

.recipe-text {
  font-size: .9em;
  white-space: pre-wrap; /* Ensures the text wraps if needed */
  word-break: break-word; /* Prevents overflow by breaking long words */
  font-family: serif;
}